In [48]:
import pandas as pd

df = pd.DataFrame(columns=['timestamp_created_ms', 'price', 'wave_id', 'order_id'])

df = pd.concat([df, pd.DataFrame([{ 'timestamp_created_ms': 123, 'price': 4321, 'wave_id': '123', 'order_id': '52515',  'near_far': 'near'}])])
df = pd.concat([df, pd.DataFrame([{ 'timestamp_created_ms': 223, 'price': 4911, 'wave_id': '123', 'order_id': '92515',  'near_far': 'near'}])])
df = pd.concat([df, pd.DataFrame([{ 'timestamp_created_ms': 423, 'price': 5111, 'wave_id': '853', 'order_id': '12515',  'near_far': 'far'}])])
df

empty = df[df['wave_id'] == '1231']
# a = df[df.timestamp_created_ms > 200].order_id
# a.tolist()

if empty.empty:
    print('empty')

df[df.wave_id == '123'].to_dict('records')

empty

[{'timestamp_created_ms': 123,
  'price': 4321,
  'wave_id': '123',
  'order_id': '52515'},
 {'timestamp_created_ms': 223,
  'price': 4911,
  'wave_id': '123',
  'order_id': '92515'}]

In [70]:
df
df.loc[df.wave_id=='123', 'timestamp_created_ms'] = 1500
df[(df.wave_id=='123') & (df.price > 4500)]

  timestamp_created_ms price wave_id order_id
0                 1500  4911     123    92515