In [18]:
import pandas as pd
import pickle

frames = pickle.load(open('../frames.sav', 'rb'))
frames = frames.reset_index(drop=True)
frames

,msprice,amount,nr_trades,price_mean,spread,price_min,price_max,amount_mean
0,NaN,NaN,6.0,21230.563333,0.86,21230.27,21231.13,0.009097
1,NaN,NaN,10.0,21230.369000,1.29,21229.84,21231.13,0.032658
2,NaN,NaN,11.0,21230.302727,1.49,21229.64,21231.13,0.033325
3,NaN,NaN,12.0,21230.247500,1.49,21229.64,21231.13,0.031382
4,NaN,NaN,13.0,21230.265385,1.49,21229.64,21231.13,0.029122

In [96]:
# df = pd.DataFrame()
# df.assign(frames.iloc[1]
# [{
#     f'{i}_nr_trades': frame['nr_trades'],
#     f'{i}_amount_mean': frame['amount_mean'].mean(),
#     f'{i}_price': frame['price_max'].max(),
#     f'{i}_spread': frame['spread'].max(),
# }]
#


# frame = [ frames.iloc[i] for i in range(len(frames)) ]

a= [{
    f'{i}_nr_trades': frame['nr_trades'],
    f'{i}_amount_mean': frame['amount_mean'].mean(),
    f'{i}_price': frame['price_max'].max(),
    f'{i}_spread': frame['spread'].max(),
} for i, frame in enumerate([frames.iloc[i] for i in range(len(frames))])]

{ k: v for obj in a for (k, v) in obj.items() }

{'0_nr_trades': 6.0,
 '0_amount_mean': 0.009096666666666668,
 '0_price': 21231.13,
 '0_spread': 0.8600000000005821,
 '1_nr_trades': 10.0,
 '1_amount_mean': 0.032658,
 '1_price': 21231.13,
 '1_spread': 1.2900000000008731,
 '2_nr_trades': 11.0,
 '2_amount_mean': 0.03332545454545454,
 '2_price': 21231.13,
 '2_spread': 1.4900000000016007,
 '3_nr_trades': 12.0,
 '3_amount_mean': 0.03138166666666666,
 '3_price': 21231.13,
 '3_spread': 1.4900000000016007,
 '4_nr_trades': 13.0,
 '4_amount_mean': 0.02912153846153846,
 '4_price': 21231.13,
 '4_spread': 1.4900000000016007}

In [107]:
b = { 'a': 'b' }
c = { 'c': 'd' }

dict(sorted(b.items() | c.items()))

# { k: v for (k, v) in (b.items() | c.items())}

{'a': 'b', 'c': 'd'}